<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>Quản lý chấm công</title>

        <style>

            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }


        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Quản lý chấm công</h3>


            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col background-table">


                    <div class="row" style="margin-bottom:2% ;">
                        <div class="col-sm-3">
                            <input type="text" class="form-control input" id="" placeholder="Nhập email">
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <!--div class="col-sm-12"></div>-->
<!--                                <div class="col-sm-5" style="margin-left: 500px">
                                    <a href="/account/create">
                                        <input type="button" class="btn btn-success form-control button-defualt" value="">
                                    </a>
                                </div>-->
                            </div>
                        </div>
                    </div>


                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Email</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Thời gian checkin</th>
                                <th scope="col">Thời gian checkout</th>
                                <th scope="col">Số giờ làm</th>
                                <th scope="col">Ca</th>
                                <th scope="col">Trạng thái</th>

                            </tr>
                        </thead>                     
                        <tbody>
                            <tr th:each="item:${list}">
                                <td align="center">
                                <td th:text="${item.getId()}"></td>
                                <td th:text="${item.getMail()}"></td>
                                <td th:text="${item.getTimestart()}"></td>
                                <td th:text="${item.getTimeend()}"></td>
                                <td th:text="${item.getIdshift()}"></td>
                                    <div class="dropdown">
                                        <button class="button-envent
                                                dropdown-toggle" style="margin-right:
                                                10px;" type="button" id="dropdownMenuButton"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-edit"
                                               style="color:
                                               #6667AB"></i>
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Chỉnh sửa thông tin</a>
                                        </div>

                                    </div>

                                </td>                            

                            </tr>

                        </tbody>

                    </table>

                    
                </div>
                <div class="col-sm-1"></div>

            </div>


        </div>


    </body>

</html>