<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>AdminLTE 3 | Dashboard</title>

    </head>

    <body>
        <div layout:fragment="content">
            <table >
                <tr>
                    <td>
                        <form>
                            <input type="text" placeholder="Nhập Mail"/>
                        </form> 
                    </td>
                </tr>
            </table>
            <br>
            <table th:border="1" th:align="center">
                <tr>
                    <th>ID</th>
                    <th>Mail</th>
                    <th>Tên Nhân viên</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Lí do</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
<!--                <tr th:each="c:${overtimeList}">   
                    <th th:text="${c.getContent()}"></th>
                    <th th:text="${c.getMail().getMail()}"></th>
                    <th th:text="${c.getStatus()}"></th>
                    <th></th>
                </tr>-->
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ThanhThanh@gmail.com</td>
                        <td>Thanh Thanh</td>
                        <td>22/12/2019</td>
                        <td>23/12/2019</td>
                        <td>Hoàn thành chỉ tiêu kế hoạch</td>
                        <td>Đã được duyệt</td>
                        <td><a>V</a>&nbsp;<a>X</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>
