<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>AdminLTE 3 | Dashboard</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
        <div layout:fragment="content">
            <table >
                <tr>
                    <td>
                        <form>
                            <input type="text" placeholder="Nhập Mail"/>
                        </form> 
                    </td>
                </tr>
            </table>
            <br>
            <table class="table" th:border="1" th:align="center">
                <tr>
                    <th>ID</th>
                    <th>Mail</th>
                    <th>Tên Nhân viên</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Số ngày nghĩ</th>
                    <th>Lí do</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
                <tbody>
                    <tr th:each="c:${listdateoff}">   
                        <td th:text="${c.getId()}"></td>
                        <td th:text="${c.getMail().getMail()}"></td>
                        <td th:text="${c.getMail().getFullname()}"></td>
                        <td th:text="${c.getStartdate()}"></td>
                        <td th:text="${c.getEnddate()}"></td>
                        <td th:text="${c.getDaynumber()}"></td>
                        <td th:text="${c.getContent()}"></td>
                        <td>
                            <div th:switch="${c.getStatus()}"> 
                                <p th:case="'0'">Chưa được duyệt</p>
                                <p th:case="'1'">Đã được duyệt</p>
                                <p th:case="'2'">Từ chối</p> 
                            </div>
                        </td>
                        <td>
                            <div th:switch="${c.getStatus()}"> 
                                <div th:case="'0'">
                                    <a href="#">Chấp thuận</a>
                                    <a href="#">từ chối</a>
                                </div>
                                <p th:case="'1'"></p>
                                <p th:case="'2'"></p> 
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

</html>
