<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="qrcode.min.js"></script>
</head>

<body>

    <h4 style="text-align: center">Tạo QR code online</h4>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <label>Nhập đường dẫn</label>
            <br>
            <input type="text" id="path" class="form-control">
            <br>
            <div style="text-align: center">
                <input type="button" class="btn btn-success" onclick="createcode()" value="Tạo mã">

            </div>

        </div>
        <div class="col-sm-3"></div>


    </div>

    <div class="row" style="margin-top: 5%">
        <div class="col-sm-5"></div>
        <div class="col">
            <div id="id_qrcode" style="text-align:center"></div>
        </div>


    </div>


    </div>

    <script>
        function createcode() {
            path = document.getElementById("path").value;

            document.getElementById("id_qrcode").innerHTML = "";

            var qrcode = new QRCode("id_qrcode", {
                text: path,
                width: 200,
                height: 200,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });

            console.log(path);
        }
    </script>


</body>

</html>