<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fpt.aptech.khrmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Khrmobile">
        <activity
            android:name=".MainWorkScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".MenuChangeAccountActivity"
            android:exported="false" />
        <activity
            android:name=".MainAccountActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/bottom_navigation_menu" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPassPage"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".StartPage" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".StartPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>