<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Boss/layout/_layout}">

<head>
    <title>Trang chủ</title>

    <style>

        .title-card {
            padding-top: 11%;
            padding-bottom: 11%;
            margin-left: 4%;
            font-weight: bold
        }

        .title-page {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 3%;
            font-weight: bold
        }


    </style>

</head>

<body>

<div layout:fragment="content">


    <h2 class="title-page">Trang quản trị</h2>


</div>


</body>

</html>