<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

<head>
    <title>Quản lý chuyển ca</title>

    <style>

        .title-card {
            padding-top: 11%;
            padding-bottom: 11%;
            margin-left: 4%;
            font-weight: bold
        }

        .title-page {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 3%;
            font-weight: bold
        }


    </style>

</head>

<body>

<div layout:fragment="content">

    <h3 class="title-page">Quản lý chuyển ca</h3>


    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col background-table">





            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Người cần đổi</th>
                    <th scope="col">Người đổi</th>
                    <th scope="col">Hành động</th>

                </tr>
                </thead>
                <tbody th:if="${check == false}">
                <tr>
                    <td colspan="5" style="text-align: center"> Không có dữ liệu </td>
                </tr>

                </tbody>

                <tbody th:if="${check == true}">
                <tr th:each="item,stt:${list}">

                    <th scope="row" th:text="${stt.Count}"></th>
                    <td th:text="${item.getName()}" th:id="'TimelineNames'+${item.getId()}" ></td>
                    <td th:text="${ item.getMailfrom()}"  ></td>
                    <td th:text="${item.getMailto()}" ></td>
                    <td>

                        <a th:href="'/transfer/detail?id='+${item.getId()}" >
                        <button class="button-envent">
                            <i class="fas fa-edit"
                               style="color:  #6667AB"></i>
                        </button>

                        </a>

                    </td>

                </tr>

                </tbody>



                </tbody>
            </table>


        </div>
        <div class="col-sm-1"></div>

    </div>



</div>


</body>

</html>