<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>AdminLTE 3 | Dashboard</title>

    </head>

    <body>
        <div layout:fragment="content">
<!--                <table>
                    <tr>
                        <td><label>Nhập tiêu đề</label></td>
                        <td><input type="text" /></td>
                        <td><label>Nhập nội dung</label></td>
                        <td><input type="text" /></td>
                        <td><label>Chọn kiểu gửi</label></td>
                        <td><input type="text"  /></td>
                        <td><label>Chọn người nhận</label></td>
                        <td><input type="text"/></td>
                        <td><input type="submit" value="Create"/></td>
                    </tr>
                </table>-->
        </div>
    </body>

</html>