<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>AdminLTE 3 | Dashboard</title>
         <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>

    <body>
        <div layout:fragment="content">
            <h3 class="title-page">Quản lý Thông Báo</h3>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col background-table">


                    <div class="row" style="margin-bottom:2% ;">
                        <div class="col-sm-3">
                            <b style="margin-bottom:2% ;">Từ ngày</b>
                            <input type="datetime-local" class="form-control input" id="">
                        </div>
                        <div class="col-sm-3">
                            <b style="margin-bottom:2% ;">Đến ngày</b>
                            <input type="datetime-local" class="form-control input" id="">
                        </div>
                        <div class="col-sm-2">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-12" style="margin-top:12% ;">
                                <a href="#">
                                    <input type="button" class="btn btn-success form-control button-defualt" value="Tìm Kiếm">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-12" style="margin-top:12% ;">
                                <a th:href="@{/notification/add}">
                                    <input type="button" class="btn btn-success form-control button-defualt" value="Thêm thông báo">
                                </a>
                            </div>
                        </div>
                    </div>


                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" >ID</th>
                                <th scope="col" >Tiêu Đề</th>
                                <th scope="col" >Ngày Gửi</th>
                                <th scope="col" >Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody th:if="${check == false}">
                            <tr>
                                <td colspan="5" style="text-align: center"> Không có dữ liệu </td>
                            </tr>

                        </tbody>

                        <tbody th:if="${check == true}">
                            <tr th:each="c:${notificationList}">
                                <td th:text="${c.getId()}"></td>
                                <td th:text="${c.getTitle()}"></td>
                                <td th:text="${c.getDateCreate()}"></td>
                                <td><a th:href="'/../../notification/details?id='+${c.getId()}"> 
                                        <button class="button-envent">
                                            <i class="fas
                                               fa-check"
                                               style="color:
                                               greenyellow"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-1"></div>

            </div>
        </div>
    </body>

</html>