<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Boss/layout/_layout}">

<head>
    <title>Quản lý chuỗi cửa hàng</title>

    <style>

        .title-card {
            padding-top: 11%;
            padding-bottom: 11%;
            margin-left: 4%;
            font-weight: bold
        }

        .title-page {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 3%;
            font-weight: bold
        }


    </style>

</head>

<body>

<div layout:fragment="content">

    <h3 class="title-page">Quản lý lịch làm việc</h3>


    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col background-table">

            <div class="row" style="margin-bottom:2% ;">
                <div class="col-sm-3">
                    <input type="text" class="form-control input" id="" placeholder="Nhập tên cửa hàng...">
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-5" style="margin-bottom:2% ;">
                            <a href="/boss/store/create">
                                <input type="button" class="btn btn-success form-control button-defualt" value="Thêm cửa hàng">
                            </a>
                        </div>
                    </div>
                </div>
            </div>



            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Tên cửa hàng</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>

                </tr>
                </thead>
                <tbody th:if="${check == false}">
                <tr>
                    <td colspan="5" style="text-align: center"> Không có dữ liệu </td>
                </tr>

                </tbody>

                <tbody th:if="${check == true}">
                <tr th:each="item,stt:${list}">

                    <th scope="row" th:text="${stt.Count}"></th>
                    <td th:text="${item.getId()}" th:id="'TimelineNames'+${item.getId()}" ></td>
                    <td th:text="${ item.getNameStore()}"  ></td>
                    <td th:text="${item.getAddress()}" ></td>

                    <td>
<!--                        <span id="status-add" v-if="item.getIsBlock() ==false"> Đang hoạt động </span>-->

<!--                        <span id="status-not-add" v-if="item.getIsBlock()==true">Đã bị khóa</span>-->

                        <span th:id="${item.getIsBlock()} ? 'status-not-add' : 'status-add'" th:text="${item.getIsBlock()}?'Bị khóa':'Hoạt động'"><span
                    </td>
                    <td>

                        <a th:href="'/boss/store/edit?id='+${item.getId()}" >
                            <button class="button-envent" style="margin-right:  10px;" type="button" >
                                <i class="fas fa-edit"
                                   style="color: #6667AB"></i>
                            </button>

                        </a>

                            <a th:href="'/boss/store/block?id='+${item.getId()}" >
                                <button class="button-envent">
                                    <i class="fas
                                                                fa-trash"
                                       style="color:
                                                                #F26E6E"></i>
                                </button>

                            </a>


                    </td>

                </tr>

                </tbody>



                </tbody>
            </table>

            <button data-toggle="modal"
                    data-target="#infomationform"  hidden id="openfform">nnn</button>
            <form action="/timeline/editname" method="post" >
                <div class="modal fade" id="infomationform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">


                                <h5 class="modal-title modal-title " id="exampleModalLabel">Thông tin lịch làm việc</h5>


                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="margin-top: 1%;">
                                            <div class="col-sm-1"></div>
                                            <div class="col">
                                                <input type="Text" required class="form-control input" id="id"
                                                       name="id" hidden >
                                                <input type="Text" required class="form-control input" id="TimelineName"
                                                       name="TimelineName" placeholder="Nhập tên lịch làm việc" >
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>

                                        <input type="submit" hidden id="sumbitdata">
                                    </div>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng bảng</button>
                                <input type="submit" data-dismiss="modal" class="btn btn-primary" style="background-color:#6667AB ;"
                                       value="Lưu dữ liệu" onclick="submitdatafunc()">

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-1"></div>
         
    </div>

    <script>
        function  openformEdit(id ){



            name = document.getElementById("TimelineNames"+id).innerText;

            document.getElementById("id").value = id ;

            document.getElementById("TimelineName").value = name ;
            document.getElementById("openfform").click() ;
        }

        function submitdatafunc(){
            document.getElementById("sumbitdata").click();

        }
    </script>
   
</div>


</body>

</html>