<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Quản lý tài khoản</title>

        <style>
            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }
        </style>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Chỉnh sửa thông tin</h3>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col background-table">

                    <form action="/account/update" method="POST">
                        <br>
                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Email
                            </div>
                        </div>
                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" th:value="${Account.getMail()}"
                                       placeholder="Địa chỉ email" id="txtAccountMail" name="txtAccountMail" readonly>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Họ tên
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" th:value="${Account.getFullname()}"
                                       placeholder="Họ tên" id="txtFullName" name="txtFullName">
                                <span hidden class="error-text" id="txtFullName-Error">Vui lòng nhập họ tên</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Số điện thoại
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" th:value="${Account.getPhone()}"
                                       placeholder="Số điện thoại" id="txtPhone" name="txtPhone">
                                <span hidden class="error-text" id="txtPhone-Error">Vui lòng nhập SĐT</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Giới tính
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-2">
                                <div th:switch="${Account.getGender()}">
                                    <div th:case="true">
                                        <input type="radio" id="Male" value="true" name="radioGender" checked>
                                        <label for="Male">Nam</label><br>
                                        <input type="radio" id="Female" value="false" name="radioGender">
                                        <label for="Female">Nữ</label><br>
                                    </div>
                                    <div th:case="false">
                                        <input type="radio" id="Male" value="true" name="radioGender">
                                        <label for="Male">Nam</label><br>
                                        <input type="radio" id="Female" value="false" name="radioGender"checked>
                                        <label for="Female">Nữ</label><br>
                                    </div>
                                </div>
                                <div>
                                    <img th:src="@{'/images/user-photos/' + ${Account.getAvatar()}}" width="200"/>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Ngày sinh
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="date" class="form-control input" id="txtBirthDay"
                                       th:value="${Account.getBirthdate()}" name="txtBirthDay">
                                <span hidden class="error-text" id="txtBirthDay-Error">Vui lòng chọn ngày sinh</span>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Quyền
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <div th:switch="${Account.getRole()}">
                                    <div th:case="'0'">
                                        <select name="txtRole" id="txtRole">
                                            <option value="0" selected>User</option>
                                            <option value="1">Admin</option>
                                            <option value="2">Scan Machine</option>
                                        </select>
                                    </div>
                                    <div th:case="'1'">
                                        <select name="txtRole" id="txtRole">
                                            <option value="0">User</option>
                                            <option value="1" selected>Admin</option>
                                            <option value="2">Scan Machine</option>
                                        </select>
                                    </div>
                                    <div th:case="'2'">
                                        <select name="txtRole" id="txtRole">
                                            <option value="0">User</option>
                                            <option value="1">Admin</option>
                                            <option value="2" selected>Scan Machine</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Vị trí làm việc
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <table class="table" style="text-align: center;">
                                    <thead class="thead-light">
                                        <tr style="text-align: center ;">
                                            <th scope="col">Lựa chọn</th>
                                            <th scope="col">Vị trí</th>
                                            <th scope="col">Lương năng suất (VNĐ/giờ)</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr th:each="item,stt:${positionList}">
                                            <td style="text-align: center ;">
                                                <div class="pretty p-default p-curve">
                                                    <input type="checkbox" th:checked="${item[3]}" class="checkbox"
                                                           th:value="${item[0]}" th:name="'check'+${stt.count}">
                                                    <div class="state">
                                                        <label></label>
                                                    </div>
                                                </div>

                                            </td>
                                            <td th:text="${item[1]}"></td>

                                            <td style="text-align: center ;">
                                                <input type="number" class="form-control input input-number" min="0"
                                                       th:name="'checkvalue'+${stt.count} " th:value="${item[2]}"
                                                       id="txtSalary">
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 5%;">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2" style="text-align: center ;">
                                <input type="submit" class="btn btn-success form-control button-defualt"
                                       value="Lưu dữ liệu">
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </body>

</html>