<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">

<head>

</head>

<body>


<nav class="main-header navbar navbar-expand navbar-white navbar-light" th:fragment="navbar">
    <!-- Left navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item ">

            <h4> Quán [[${#httpServletRequest.getSession().getAttribute("NameStore")}]]</h4>

        </li>
        <!-- Notifications Dropdown Menu -->


    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item ">

            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/800px-User_icon_2.svg.png "
                 style="border-radius:50%; width: 30px; height: 30px;background-size: cover;"> Hello
            [[${#httpServletRequest.remoteUser}]]!

        </li>
        <!-- Notifications Dropdown Menu -->


    </ul>
</nav>


</body>

</html>