<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org"
>


<head>
    <title>Xác nhận thông tin</title>

    <style>

        .title-card {
            padding-top: 11%;
            padding-bottom: 11%;
            margin-left: 4%;
            font-weight: bold
        }

        .title-page {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 3%;
            font-weight: bold
        }


    </style>

</head>

<body>

<div layout:fragment="content">

    <h3 class="title-page">Xác nhận thông tin</h3>


    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col background-table">

            <div class="row">

                <div class="col-sm-4" style="margin-top: 3%;">

                    <table class="table table-bordered" style="width:80% ; margin:0px auto">
                        <thead>
                        <tr>
                            <th scope="col" style="text-align: center; padding:1.5rem">

                                <b>Thứ 2</b>
                                <br>
                                <b> 06/06/2022</b>


                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>


                <div class="col-sm-4" style="margin-top: 3%;">

                    <table class="table table-bordered" style="width:80% ; margin:0px auto">
                        <thead>
                        <tr>
                            <th scope="col" style="text-align: center; padding:1.5rem">

                                <b>Thứ 3</b>
                                <br>
                                <b> 07/06/2022</b>


                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>

                <div class="col-sm-4" style="margin-top: 3%;">

                    <table class="table table-bordered" style="width:80% ; margin:0px auto">
                        <thead>
                        <tr>
                            <th scope="col" style="text-align: center; padding:1.5rem">

                                <b>Thứ 4</b>
                                <br>
                                <b> 08/06/2022</b>


                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>

                <div class="col-sm-4" style="margin-top: 3%;">

                    <table class="table table-bordered" style="width:80% ; margin:0px auto">
                        <thead>
                        <tr>
                            <th scope="col" style="text-align: center; padding:1.5rem">

                                <b>Thứ 5</b>
                                <br>
                                <b> 09/06/2022</b>


                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>

                <div class="col-sm-4" style="margin-top: 3%;">

                    <table class="table table-bordered" style="width:80% ; margin:0px auto">
                        <thead>
                        <tr>
                            <th scope="col" style="text-align: center; padding:1.5rem">

                                <b>Thứ 6</b>
                                <br>
                                <b> 10/06/2022</b>


                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>


                <div class="col-sm-4" style="margin-top: 3%;">

                    <table class="table table-bordered" style="width:80% ; margin:0px auto">
                        <thead>
                        <tr>
                            <th scope="col" style="text-align: center; padding:1.5rem">

                                <b>Thứ 7</b>
                                <br>
                                <b> 11/06/2022</b>


                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>
                        <tr id="" class="hover-click">
                            <td style="text-align:center ; padding:1.5rem">
                                Ca sáng (7:30 - 11:30)
                                <br>
                                <a href="#" data-toggle="modal" data-target="#infomationform">Nhấn vào đây để sửa thông
                                    tin</a>
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </div>


            </div>

            <div class="row" style="margin-top: 5%;">
                <div class="col-sm-5"></div>
                <div class="col-sm-2" style="text-align: center ;">
                    <input type="button" class="btn btn-success form-control button-defualt" value="Lưu dữ liệu"
                    >
                </div>
                <div class="col-sm-5"></div>
            </div>


        </div>
        <div class="col-sm-1"></div>

    </div>


    <div class="modal fade" id="infomationform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">


                    <h5 class="modal-title modal-title " id="exampleModalLabel">THÔNG TIN CA LÀM VIỆC</h5>


                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead class="thead-light">
                                <tr style="text-align: center ;">
                                    <th scope="col">Lựa chọn</th>
                                    <th scope="col">Vị trí</th>
                                    <th scope="col" style="width:40%">Số lượng người/ca</th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr>

                                    <td style="text-align: center ;">
                                        <div class="pretty p-default p-curve">
                                            <input type="checkbox" class="checkbox" id="">

                                            <div class="state">
                                                <label></label>
                                            </div>
                                        </div>

                                    </td>
                                    <td style="text-align: center ;">Công nhân sản xuất</td>
                                    <td style="text-align: center ;">

                                        <input type="number" class="form-control input input-number input-number-form "
                                               min="0" value="0" id=""></input>

                                    </td>

                                </tr>

                                <tr>

                                    <td style="text-align: center ;">
                                        <div class="pretty p-default p-curve">
                                            <input type="checkbox" class="checkbox" id="">

                                            <div class="state">
                                                <label></label>
                                            </div>
                                        </div>

                                    </td>
                                    <td style="text-align: center ;">Quản lý kho</td>
                                    <td style="text-align: center ;">

                                        <input type="number" class="form-control input input-number input-number-form "
                                               min="0" value="0" id=""></input>

                                    </td>

                                </tr>

                                <tr>

                                    <td style="text-align: center ;">
                                        <div class="pretty p-default p-curve">
                                            <input type="checkbox" class="checkbox" id="">

                                            <div class="state">
                                                <label></label>
                                            </div>
                                        </div>

                                    </td>
                                    <td style="text-align: center ;">Kỹ sư cơ khí</td>
                                    <td style="text-align: center ;">

                                        <input type="number" class="form-control input input-number input-number-form "
                                               min="0" value="0" id=""></input>

                                    </td>

                                </tr>

                                </tbody>
                            </table>

                            <div style="text-align:center ;">
                                <a href="#">Thêm vị trí</a>
                            </div>


                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng bảng</button>
                    <button type="button" class="btn btn-primary" style="background-color:#6667AB ;">Lưu dữ liệu
                    </button>
                </div>
            </div>
        </div>
    </div>


    <textarea th:text="${itemsArray}">

    </textarea>

    <!--    <script>-->

    <!--        var array =  {!! json_encode($) !!};-->
    <!--    </script>-->


</div>


</body>

</html>