<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/_layout}"
      xmlns:th="http://www.thymeleaf.org"
>


<head>
    <title>Thông tin ca làm</title>
    <!--CND VueJs-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
    <style>

        .title-card {
            padding-top: 11%;
            padding-bottom: 11%;
            margin-left: 4%;
            font-weight: bold
        }

        .title-page {
            text-align: center;
            margin-top: 2%;
            margin-bottom: 3%;
            font-weight: bold
        }


    </style>

</head>

<body>

<div layout:fragment="content">
    <div id="myApp">

        <h3 class="title-page">Timeline chi tiết</h3>


        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col background-table">

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col">
                        <b>Họ và tên: </b> <span th:text="${account.getFullname()}"></span>
                        <br>
                        <b>Email: </b> <span th:text="${account.getMail()}"></span>
                        <br>
                        <b>Số điện thoại: </b> <span th:text="${account.getPhone()}"></span>


                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-4" style="margin-top: 3%;">

                        <table class="table table-bordered" style="width:80% ; margin:0px auto">
                            <thead>
                            <tr>
                                <th scope="col" style="text-align: center; padding:1.5rem">

                                    <b>Thứ 2</b>
                                    <br>
                                    <b> {{dayofweek[0]}} </b>


                                </th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr id="" class="hover-click">


                                <td style="text-align:center ; padding:1.5rem" v-if="data[1]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[1]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>


                            </tr>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[2]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[2]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <div class="col-sm-4" style="margin-top: 3%;">

                        <table class="table table-bordered" style="width:80% ; margin:0px auto">
                            <thead>
                            <tr>
                                <th scope="col" style="text-align: center; padding:1.5rem">

                                    <b>Thứ 3</b>
                                    <br>
                                    <b> {{dayofweek[1]}}</b>


                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="" class="hover-click">


                                <td style="text-align:center ; padding:1.5rem" v-if="data[3]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[3]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[4]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[4]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <div class="col-sm-4" style="margin-top: 3%;">

                        <table class="table table-bordered" style="width:80% ; margin:0px auto">
                            <thead>
                            <tr>
                                <th scope="col" style="text-align: center; padding:1.5rem">

                                    <b>Thứ 4</b>
                                    <br>
                                    <b> {{dayofweek[2]}}</b>


                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[5]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[5]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[6]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[6]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <div class="col-sm-4" style="margin-top: 3%;">

                        <table class="table table-bordered" style="width:80% ; margin:0px auto">
                            <thead>
                            <tr>
                                <th scope="col" style="text-align: center; padding:1.5rem">

                                    <b>Thứ 5</b>
                                    <br>
                                    <b> {{dayofweek[3]}}</b>


                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="" class="hover-click">


                                <td style="text-align:center ; padding:1.5rem" v-if="data[7]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[7]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[8]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[8]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <div class="col-sm-4" style="margin-top: 3%;">

                        <table class="table table-bordered" style="width:80% ; margin:0px auto">
                            <thead>
                            <tr>
                                <th scope="col" style="text-align: center; padding:1.5rem">

                                    <b>Thứ 6</b>
                                    <br>
                                    <b> {{dayofweek[4]}}</b>


                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[9]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working" v-if="data[9]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[10]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working"
                                    v-if="data[10]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>

                    <div class="col-sm-4" style="margin-top: 3%;">

                        <table class="table table-bordered" style="width:80% ; margin:0px auto">
                            <thead>
                            <tr>
                                <th scope="col" style="text-align: center; padding:1.5rem">

                                    <b>Thứ 7</b>
                                    <br>
                                    <b> {{dayofweek[5]}}</b>


                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[11]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working"
                                    v-if="data[11]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>
                            <tr id="" class="hover-click">
                                <td style="text-align:center ; padding:1.5rem" v-if="data[12]==false">

                                    <br>

                                </td>


                                <td style="text-align:center ; padding:1.5rem" class="not-working"
                                    v-if="data[12]==true">

                                    <span class="not-working-text">Không làm được</span>

                                    <br>

                                </td>
                            </tr>


                            </tbody>
                        </table>

                    </div>


                </div>


            </div>
            <div class="col-sm-1"></div>

        </div>
        <textarea th:text="${data}" hidden id="data"></textarea>

        <textarea th:text="${startday}" hidden id="startday"></textarea>


    </div>
    <script>
        var timeID;
    </script>

    <script>
        var App = new Vue({
            el: "#myApp",
            created() {
                this.load();
            },
            data() {
                return {
                    data: [],
                    dayofweek: [],
                    startday: ""


                }

            },
            methods: {
                load: function () {

                    Data = JSON.parse(document.getElementById("data").value);
                    startday = document.getElementById("startday").value;

                    this.data = Data;
                    this.startday = startday;


                    this.binddingday();

                    console.log(this.dayofweek);
                },
                binddingday: function () {

                    j = 0;
                    DateStart = new Date(this.startday);

                    for (let i = 2; i <= 7; i++) {
                        DateWork = "";
                        tmpDate = DateStart;
                        tmpDate.setDate(DateStart.getDate() + j);

                        if (j == 0) {
                            j += 1;
                        }


                        DateWork = this.addzero(tmpDate.getDate()) + "/" + this.addzero(tmpDate.getMonth()) + "/" + tmpDate.getFullYear();


                        this.dayofweek.push(DateWork)

                    }

                },
                addzero: function (str) {

                    if (str < 10) {
                        return "0" + str;
                    }
                    return str

                }


            }

        })
    </script>

</div>


</body>

</html>