<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

    <head>
        <title>Tạo chấm công</title>

        <style>

            .title-card {
                padding-top: 11%;
                padding-bottom: 11%;
                margin-left: 4%;
                font-weight: bold
            }

            .title-page {
                text-align: center;
                margin-top: 2%;
                margin-bottom: 3%;
                font-weight: bold
            }


        </style>
        <link rel="stylesheet"
              href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#timeStart").autocomplete({
                    source: function (request, response) {
                        $.ajax({
                            url: "http://localhost:7777/timekeeping/",
                            dataType: "json",
                            data: {
                                value: request.term                                
                            },
                            success: function (data) {
                                alert(data);
                                console.log(data);
                                response(data);
                            }
                        });
                    },
                    minLength: 2
                });
            });
        </script>

    </head>

    <body>

        <div layout:fragment="content">

            <h3 class="title-page">Tạo chấm công</h3>

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col background-table">

                    <form th:action="@{/timekeeping/save}" method="post" name="_form">  

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Email
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <input type="text" class="form-control input" id="mail" name="mail">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                Thời gian vào
                            </div>
                            <div class="col-sm-5">
                                Ngày
                            </div>
                        </div>


                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input" placeholder="Thời gian vào" oninput="validateTimeStart();" id="timeStart"
                                       name="timeStart">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input" placeholder="Ngày" oninput="validateDateStart();" id="dateStart"
                                       name="dateStart">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                Thời gian ra
                            </div>
                            <div class="col-sm-5">
                                Ngày
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input" placeholder="Thời gian ra" id="timeEnd" oninput="validateTimeEnd();"
                                       name="timeEnd">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input" placeholder="Ngày" oninput="validateDateEnd();" id="dateEnd"
                                       name="dateEnd">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 3%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                Thời gian làm việc
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1%;">
                            <div class="col-sm-1"></div>
                            <div class="col input-group mb-3">
                                <input type="text" class="form-control input" placeholder="Thời gian làm việc" id="time"
                                       name="time" readonly="">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Giờ</span>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>

                        <div class="row" style="margin-top: 4%;">
                            <div class="col-sm-1"></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3" style="text-align: center ;">

                                        <input type="submit" id="btnSubmit" class="btn btn-success form-control button-defualt" name="action"
                                               value="Lưu">
                                    </div>
                                    <div class="col-sm-3" style="text-align: center ;">
                                        <input type="submit" class="btn btn-success form-control button-defualt" name="action"
                                               value="Trở lại">
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>

                            </div>
                            <div class="col-sm-1"></div>
                        </div>


                    </form>

                </div>

                <div class="col-sm-3"></div>

            </div>


        </div>


    </body>

</html>

<script th:src="@{/script/cleave.js}"></script>
<script>

    var timeStartFormat = new Cleave('#timeStart', {
        time: true,
        timePattern: ['h', 'm']
    });

    var dateStartFormat = new Cleave('#dateStart', {
        date: true,
        delimiter: '-',
        datePattern: ['d', 'm', 'Y']
    });

    var timeEndFormat = new Cleave('#timeEnd', {
        time: true,
        timePattern: ['h', 'm']
    });

    var dateStartFormat = new Cleave('#dateEnd', {
        date: true,
        delimiter: '-',
        datePattern: ['d', 'm', 'Y']
    });

    var btnSubmit = document.getElementById('btnSubmit');

    function validateTimeStart() {
        var val = document.getElementById('timeStart').value;
        if (val.length < 5) {
            document.getElementById('timeStart').style.borderColor = '#cc0000';
            btnSubmit.disabled = true;
            btnSubmit.style.cursor = "pointer";
            btnSubmit.style.background = '#cc0000';
        } else {
            document.getElementById('timeStart').style.borderColor = 'green';
            btnSubmit.disabled = false;
            btnSubmit.style.background = '#6667AB';
        }
    }

    function validateTimeEnd() {
        var val = document.getElementById('timeEnd').value;
        if (val.length < 5) {
            document.getElementById('timeEnd').style.borderColor = '#cc0000';
            btnSubmit.disabled = true;
            btnSubmit.style.cursor = "pointer";
            btnSubmit.style.background = '#cc0000';
        } else {
            document.getElementById('timeEnd').style.borderColor = 'green';
            btnSubmit.disabled = false;
            btnSubmit.style.background = '#6667AB';
        }
    }

    function validateDateStart() {
        var val = document.getElementById('dateStart').value;
        if (val.length < 10) {
            document.getElementById('dateStart').style.borderColor = '#cc0000';
            btnSubmit.disabled = true;
            btnSubmit.style.cursor = "pointer";
            btnSubmit.style.background = '#cc0000';
        } else {
            document.getElementById('dateStart').style.borderColor = 'green';
            btnSubmit.disabled = false;
            btnSubmit.style.background = '#6667AB';
        }
    }

    function validateDateEnd() {
        var val = document.getElementById('dateEnd').value;
        if (val.length < 10) {
            document.getElementById('dateEnd').style.borderColor = '#cc0000';
            btnSubmit.disabled = true;
            btnSubmit.style.cursor = "pointer";
            btnSubmit.style.background = '#cc0000';
        } else {
            document.getElementById('dateEnd').style.borderColor = 'green';
            btnSubmit.disabled = false;
            btnSubmit.style.background = '#6667AB';
        }
    }


</script>